In [8]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/labeled_data_1000.csv', index_col=0)
df.head()

,text,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,desire,...,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral,accountability
0,u still there,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,call my #,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,"Really, you are better than this (calling thes...",1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,We're a bunch of guys working to reduce demand...,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,"lots of danger, including jail",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [14]:
goemotion_df = pd.read_csv('../data/goemotion_bert_volunteer_1000.csv', index_col=0)
goemotion_df = goemotion_df.drop(goemotion_df.index[goemotion_df.index >= len(df)])
len(goemotion_df), len(df)

(497, 497)

In [15]:
goemotion_df.head()

,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,desire,disappointment,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.998516
1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.998397
2,0.971056,0.0,0.0,0.0,0.962864,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.98823,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.605382

In [16]:
feature_columns = ['admiration', 'amusement', 'anger', 'annoyance', 'approval', 'caring', 'confusion', 'curiosity', 'desire', 'disappointment', 'disapproval', 'disgust', 'embarrassment', 'excitement', 'fear', 'gratitude', 'grief', 'joy', 'love', 'nervousness', 'optimism', 'pride', 'realization', 'relief', 'remorse', 'sadness', 'surprise', 'neutral']
label_columns = ['accountability']
x_data = goemotion_df[feature_columns].values
y_data = df[label_columns].values
x_data.shape, y_data.shape

((497, 28), (497, 1))

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3)
len(x_train), len(x_test)

(347, 150)

In [28]:
clf = LogisticRegression()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
acc = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)
print(f'accuracy = {acc}')
print(f'f1 = {f1}')
print(f'confusion matrix = \n{cm}')

accuracy = 0.8
f1 = 0.16666666666666666
confusion matrix =
[[117   1]
 [ 29   3]]

c:\users\julius\anaconda3\envs\cs501\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [29]:
from sklearn.model_selection import StratifiedKFold

In [30]:
skf = StratifiedKFold(n_splits=5)
for k, (train_index, test_index) in enumerate(skf.split(x_data, y_data)):
    x_train, y_train = x_data[train_index], y_data[train_index]
    x_test, y_test = x_data[test_index], y_data[test_index]
    clf = LogisticRegression()
    clf.fit(x_train, y_train)
    y_pred = clf.predict(x_test)
    acc = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    cm = confusion_matrix(y_test, y_pred)
    print(f'k={k}')
    print(f'accuracy = {acc}')
    print(f'f1 = {f1}')
    print(f'confusion matrix = \n{cm}')

k=0
accuracy = 0.81
f1 = 0.17391304347826084
confusion matrix =
[[79  0]
 [19  2]]
k=1
accuracy = 0.8
f1 = 0.0909090909090909
confusion matrix =
[[79  0]
 [20  1]]
k=2
accuracy = 0.8282828282828283
f1 = 0.37037037037037035
confusion matrix =
[[77  2]
 [15  5]]
k=3
accuracy = 0.7878787878787878
f1 = 0.0
confusion matrix =
[[78  1]
 [20  0]]
k=4
accuracy = 0.8383838383838383
f1 = 0.3846153846153846
confusion matrix =
[[78  0]
 [16  5]]

c:\users\julius\anaconda3\envs\cs501\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\julius\anaconda3\envs\cs501\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\julius\anaconda3\envs\cs501\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\julius\anaconda3\envs\cs501\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\julius\anaconda3\envs\cs501\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)