In [1]:
import pandas as pd
import math
import re

In [2]:
df = pd.read_csv('../data/feedback_goemotion.csv')

In [3]:
df.head()

,Unnamed: 0,text,labels,scores,better label(s) - Justin,Other - Justin
0,0,u still there,['neutral'],[0.9985159],NaN,NaN
1,1,call my #,['neutral'],[0.99839693],NaN,NaN
2,2,"Really, you are better than this (calling thes...",['admiration' 'approval'],[0.9710561 0.9628638],"admiration, caring",NaN
3,3,We're a bunch of guys working to reduce demand...,['curiosity'],[0.98822975],NaN,NaN
4,4,"lots of danger, including jail",['fear' 'neutral'],[0.89338058 0.60538208],NaN,Accountability

In [4]:
df.drop(labels='Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head()

,text,labels,scores,better label(s) - Justin,Other - Justin
0,u still there,['neutral'],[0.9985159],NaN,NaN
1,call my #,['neutral'],[0.99839693],NaN,NaN
2,"Really, you are better than this (calling thes...",['admiration' 'approval'],[0.9710561 0.9628638],"admiration, caring",NaN
3,We're a bunch of guys working to reduce demand...,['curiosity'],[0.98822975],NaN,NaN
4,"lots of danger, including jail",['fear' 'neutral'],[0.89338058 0.60538208],NaN,Accountability

In [6]:
df.dtypes

text                        object
labels                      object
scores                      object
better label(s) - Justin    object
Other - Justin              object
dtype: object

In [7]:
df_complete = df.iloc[:497, ]

In [8]:
df_complete.iloc[-1, ]

text                        Your # is now recorded attempting to buy sex o...
labels                                                            ['neutral']
scores                                                           [0.99679846]
better label(s) - Justin                                                  NaN
Other - Justin                                                 accountability
Name: 496, dtype: object

In [9]:
df_complete.shape

(497, 5)

In [10]:
df_complete.head()

,text,labels,scores,better label(s) - Justin,Other - Justin
0,u still there,['neutral'],[0.9985159],NaN,NaN
1,call my #,['neutral'],[0.99839693],NaN,NaN
2,"Really, you are better than this (calling thes...",['admiration' 'approval'],[0.9710561 0.9628638],"admiration, caring",NaN
3,We're a bunch of guys working to reduce demand...,['curiosity'],[0.98822975],NaN,NaN
4,"lots of danger, including jail",['fear' 'neutral'],[0.89338058 0.60538208],NaN,Accountability

In [11]:
# Accuracy of goemotion bert model
df_complete['better label(s) - Justin'].isna().sum() / len(df_complete)

0.7867203219315896

In [12]:
df_complete[df_complete['better label(s) - Justin'] == 'admiration, caring']

,text,labels,scores,better label(s) - Justin,Other - Justin
2,"Really, you are better than this (calling thes...",['admiration' 'approval'],[0.9710561 0.9628638],"admiration, caring",NaN

In [13]:
df_complete[df_complete['better label(s) - Justin'] == 'curiosity']

,text,labels,scores,better label(s) - Justin,Other - Justin
8,"sorry, i was unavailable, how can i helpu",['remorse' 'sadness'],[0.90214115 0.31946027],curiosity,NaN
31,"pics are on the ad, new pics are only for peop...",['remorse' 'neutral'],[0.38172522 0.74038649],curiosity,NaN
37,Why go there?,['neutral'],[0.99532521],curiosity,NaN
49,do you understand?,['confusion' 'curiosity'],[0.59036869 0.5860163 ],curiosity,NaN
91,Yeah been doing this for awhile. Did you know ...,['approval' 'curiosity'],[0.63890344 0.95203876],curiosity,NaN
108,Does any of this bother you as much as it does...,['curiosity' 'neutral'],[0.3464857 0.70851058],curiosity,and accountability
190,do you believe in someone/something?,['confusion' 'curiosity' 'neutral'],[0.45108095 0.75383407 0.48508221],curiosity,NaN
245,it's pretty good. how about you?,['admiration' 'curiosity'],[0.92426848 0.72966903],curiosity,NaN
268,Were you aware of that?,['curiosity' 'realization'],[0.73868245 0.53019536],curiosity,NaN
411,Can I hear a little about you first?,['neutral'],[0.99110526],curiosity,NaN

In [14]:
#test = df_complete[:10]

emotions = ['admiration', 'amusement', 'anger', 'annoyance', 'approval', 'caring', 'confusion', 'curiosity', 'desire', 'disappointment', 'disapproval', 'disgust', 'embarrassment', 'excitement', 'fear', 'gratitude', 'grief', 'joy', 'love', 'nervousness', 'optimism', 'pride', 'realization', 'relief', 'remorse', 'sadness', 'surprise', 'neutral']

for emotion in emotions:
    df_complete[emotion] = 0

for index, row in df_complete.iterrows():
    #print(row['better label(s) - Justin'])
    hand_labeled = row['better label(s) - Justin']
    if isinstance(hand_labeled, str) != True and math.isnan(hand_labeled):
        model_labeled = row['labels']
        model_labeled = model_labeled.strip("[]")
        model_labeled = model_labeled.replace("'", "")
        model_labeled = model_labeled.split()
        #print(model_labeled.split())
        for model_label in model_labeled:
            df_complete.at[index, model_label] = 1
    else:
        hand_labeled = hand_labeled.replace(" ", "")
        hand_labeled = hand_labeled.split(',')
        for hand_label in hand_labeled:
            df_complete.at[index, hand_label] = 1

c:\users\julius\anaconda3\envs\cs501\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
df_complete[df_complete['admiration'] == 1]

,text,labels,scores,better label(s) - Justin,Other - Justin,admiration,amusement,anger,annoyance,approval,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
2,"Really, you are better than this (calling thes...",['admiration' 'approval'],[0.9710561 0.9628638],"admiration, caring",NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54,Amazing! Please tell me just one girls story,['admiration'],[0.90544182],"curiosity, admiration",NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,oh yeah u like that? hehe ur cute,['admiration' 'amusement'],[0.49104971 0.95805871],NaN,Flirtatious,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124,Wow u r brave...lots of scary girls on here. L...,['admiration' 'surprise'],[0.88604105 0.95555055],NaN,sarcastic,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
138,You are better than this!,['admiration' 'approval'],[0.62984532 0.98096037],NaN,NaN,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
149,awesome. are you aware that buying sex is ille...,['admiration' 'curiosity'],[0.97230703 0.34766856],NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
155,"Good stuff. Anyway, I have to go. It was goo...",['admiration' 'optimism'],[0.97715604 0.94778788],NaN,NaN,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
286,"hey kevin, im doin great. whatcha up to",['admiration'],[0.97747886],NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
322,"so so good, what about you chief? :)",['admiration' 'curiosity'],[0.92128998 0.95533746],NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
342,Really good! How can I help???,['admiration' 'curiosity'],[0.9890542 0.85639095],NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
371,You are absolutely charming! ??,['admiration'],[0.99561077],NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
392,Dave i hope you have a good night Please Pleas...,['admiration' 'caring' 'optimism'],[0.37841272 0.93492419 0.63862199],NaN,NaN,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
394,"hey there! I'm doing great, thanks for asking ...",['admiration' 'gratitude'],[0.81190586 0.98473364],NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
458,"OK Matt, like I said, you sound like a nice gu...",['admiration' 'approval'],[0.34698227 0.9814828 ],NaN,NaN,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
467,doin great..u?,['admiration' 'curiosity'],[0.82519168 0.92496324],NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
470,"You sound like a good guy, I don't want you to...",['admiration' 'disappointment' 'disapproval'],[0.35878873 0.80771095 0.3339147 ],admiration,and humility,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df_complete.head()

,text,labels,scores,better label(s) - Justin,Other - Justin,admiration,amusement,anger,annoyance,approval,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,u still there,['neutral'],[0.9985159],NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,call my #,['neutral'],[0.99839693],NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,"Really, you are better than this (calling thes...",['admiration' 'approval'],[0.9710561 0.9628638],"admiration, caring",NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,We're a bunch of guys working to reduce demand...,['curiosity'],[0.98822975],NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"lots of danger, including jail",['fear' 'neutral'],[0.89338058 0.60538208],NaN,Accountability,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Add other labels

In [18]:
discovered_labels = []
counts = {}
for index, row in df_complete.iterrows():
    hand_labeled = row['Other - Justin']
    if isinstance(hand_labeled, str):
        formatted_str = hand_labeled.lower()
        for label in re.split(r'\W+', formatted_str):
            if label not in discovered_labels:
                discovered_labels.append(label)
            if label in counts:
                counts[label] += 1
            else:
                counts[label] = 1
print(discovered_labels)
print(counts)

['accountability', 'gratitude', 'curiosity', 'caring', 'also', 'humility', 'flirtatious', 'and', 'sarcastic', 'accountabilituy', 'empathy']
{'accountability': 103, 'gratitude': 1, 'curiosity': 2, 'caring': 3, 'also': 1, 'humility': 10, 'flirtatious': 1, 'and': 15, 'sarcastic': 1, 'accountabilituy': 1, 'empathy': 1}

In [19]:
other_labels = ['accountability']
for label in other_labels:
    df_complete[label] = 0

for index, row in df_complete.iterrows():
    hand_labeled = row['Other - Justin']
    if isinstance(hand_labeled, str):
        formatted_str = hand_labeled.lower()
        for label in other_labels:
            if label in formatted_str:
                df_complete.at[index, label] = 1

c:\users\julius\anaconda3\envs\cs501\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
df_complete.head()

,text,labels,scores,better label(s) - Justin,Other - Justin,admiration,amusement,anger,annoyance,approval,...,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral,accountability
0,u still there,['neutral'],[0.9985159],NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,call my #,['neutral'],[0.99839693],NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,"Really, you are better than this (calling thes...",['admiration' 'approval'],[0.9710561 0.9628638],"admiration, caring",NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,We're a bunch of guys working to reduce demand...,['curiosity'],[0.98822975],NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"lots of danger, including jail",['fear' 'neutral'],[0.89338058 0.60538208],NaN,Accountability,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [21]:
df_complete.drop(labels=['labels', 'scores', 'better label(s) - Justin', 'Other - Justin'], axis=1, inplace=True)

c:\users\julius\anaconda3\envs\cs501\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
df_complete.head()

,text,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,desire,...,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral,accountability
0,u still there,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,call my #,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,"Really, you are better than this (calling thes...",1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,We're a bunch of guys working to reduce demand...,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,"lots of danger, including jail",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [23]:
df_complete.to_csv('../data/labeled_data_1000.csv')